@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
  background-image: url("../img/backG3.jpg");
}
header{
  background-color: rgba(255, 255, 255, 0.603);

  margin-top: 10px;
  padding: 20px;
  border-radius: 10%;
  font-weight: bold;
  margin-bottom: 200px;
  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.menu-bar{
  text-align: center;
  color: white;
}
.menu-bar ul{
  display: inline-flex;
  list-style: none;
}
.menu-bar ul li{
  width: 120px;
  margin: 15px;
  padding: 5px;
}
.menu-bar ul li a{
  text-decoration: none;
  color: black;
}
.active, .menu-bar ul li:hover{
background-color:whitesmoke;

border-radius: 3px;
}
.sub-menu{
  display: none;
}
.menu-bar ul li:hover .sub-menu{
  display: block;
  position: absolute;
  background: whitesmoke;
  margin-top: 5px;
  margin-left: 15px;
}
.menu-bar ul li:hover .sub-menu ul{
  display: block;
  margin: 10px;
}
.menu-bar ul li:hover .sub-menu ul li{
  width: 150px;
  padding: 10px;
  border-bottom: 1px dotted black;
  background: transparent;
  text-align: right;
}
.menu-bar ul li:hover .sub-menu ul li:last-child{
  border-bottom: none;
}
.menu-bar ul li:hover .sub-menu ul li a:hover{
  color: black;
  font-size: 20px;
}
/* html,body{
  display: grid;
  height: 50%;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-image: url(/img/backG3.jpg);
} */
section{
  background-color: rgba(255, 255, 255, 0.603);
  padding: 70px;
  margin: 10px;
  
  height: max-content;
  border-radius: 5%;
}
.container1{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 400px;
  background: whitesmoke;
  padding: 20px 30px;
  border: 1px solid #444;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container1 .post{
  display: none;
}
.container1 .text{
  font-size: 25px;
  color: rgb(0, 0, 0);
  font-weight: 500;
}
.container1 .edit{
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  font-weight: 500;
  cursor: pointer;
}
.container1 .edit:hover{
  text-decoration: underline;
}
.container1 .star-widget input{
  display: none;
}
.star-widget label{
  font-size: 40px;
  color: #444;
  padding: 10px;
  float: right;
  transition: all 0.2s ease;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
  color: #fd4;
}
input:checked ~ label{
  color: #fd4;
}
input#rate-5:checked ~ label{
  color: #fe7;
  text-shadow: 0 0 20px rgb(0, 0, 0);
}

.container1 form{
  display: none;
}
input:checked ~ form{
  display: block;
}
form header{
  width: 100%;
  font-size: 25px;
  color: #fe7;
  font-weight: 500;
  margin: 5px 0 20px 0;
  text-align: center;
  transition: all 0.2s ease;
}
form .textarea{
  height: 100px;
  width: 100%;
  overflow: hidden;
}
form .textarea textarea{
  height: 100%;
  width: 100%;
  outline: none;
  color: #eee;
  border: 1px solid #333;
  background: #222;
  padding: 10px;
  font-size: 17px;
  resize: none;
  text-align: right;
}
.textarea textarea:focus{
  border-color: #444;
}
form .btn{
  height: 45px;
  width: 100%;
  margin: 15px 0;
}
form .btn button{
  height: 100%;
  width: 100%;
  border: 1px solid #444;
  outline: none;
  background: #222;
  color: #999;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}
form .btn button:hover{
  background: #1b1b1b;
}